.noteCard {
    background-color: cadetblue;
    /* margin: 4px; */
}

.cardBody {
    overflow: hidden;
    mask-image: linear-gradient(180deg, #000 60%, transparent); /* скрывает текст который выходит за рамки */
}

.cardText {
    white-space: pre-line;
}